@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.protoshop {

    $color_bg-light: #4f4f4f;
    $color_bg-medium: #383838;
    $color_bg-dark: #2a2a2a;

    $color_font-light: #DfDfDf;
    $color_font-medium: #676767;
    $color_font-dark: #333333;

    $color_error: #d64a4a;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;

    color: $color_font-light;
    font-family: 'Open Sans', Helvetica, sans-serif;

    pointer-events: none;

    * {
        position: relative;
        box-sizing: border-box;
        pointer-events: all;
    }

    button { cursor: pointer; }

    &--dragging {
        pointer-events: all;

        * { cursor: grabbing !important; }
    }

    &__window {
        position: absolute;

        width: 240px;
        height: 360px;
        padding: 3px;

        background: linear-gradient(to bottom, #{$color_bg-dark}, #{mix(#666, $color_bg-dark, 40)});
        border-radius: 4px 4px 0 0;
        box-shadow: 1px 1px 2px 3px rgba($color_bg-dark, .2);

        &-bar {
            width: calc(100% + 6px);
            margin-top: -1px;

            text-align: right;

            cursor: grab;

            &--grabbed {
                cursor: grabbed;
            }

            button {
                width: 30px;
                margin-right: 0px;

                color: $color_font-light;
                font-weight: 600;
                text-align: center;

                background: none;
                border: none;
                outline: none;
            }
        }

        &--minimized {
            height: auto;

            & > *:not(.protoshop__window-bar) {
                display: none;
            }
        }
    }

    &__layer {
        &--inactive {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &__tabs {
        background: linear-gradient(to bottom, #{$color_bg-medium}, #{mix(#222, $color_bg-medium, 4)});
        overflow-x: auto;

        button {
            display: inline-block;

            padding: 3px 6px;

            color: $color_font-light;
            font-weight: 600;
            font-size: 9px;

            background: none;
            border: none;
            border-bottom: 1px solid $color_bg-dark;
            border-right: 1px solid $color_bg-dark;

            &.active {
                background: $color_bg-light;
                border-bottom: 0;
            }
        }
    }

    &__panels {
        background: $color_bg-light;
    }

    &__panel {
        display: none;

        height: max-content;
        background: $color_bg-light;
        padding: 6px;

        &--active {
            display: block;
        }

        &-body { border: 1px solid $color_bg-dark; }
    }

    &__list {
        margin: 0;
        padding: 0;

        list-style: none;

        li {
            margin-left: 0;
            padding: 0;

            font-size: 11px;

            &:not(:last-of-type) { border-bottom: 1px solid $color_bg-dark; }

            button {
                height: 20.25px;
                padding: 0 5px;

                color: rgba($color_font-light, 1);

                background: none;
                border: 0;
                border-right: 1px solid $color_bg-dark;

                transition: color .1s;
            }

            span {
                display: inline-block;
                margin-left: 5px;
            }

            &.inactive {
                button {
                    color: rgba($color_font-light, 0);
                    transition: color .1s;
                }
            }
        }
    }

    &__error {
        &--toggle {
            border: 2px solid $color_error;
        }
    }

}
