@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.protoshop {

    $color_bg-light: #474747;
    $color_bg-medium: #313131;
    $color_bg-dark: #252525;

    $color_font-light: #D9D9D9;
    $color_font-medium: #676767;

    $color_error: #d64a4a;


    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    width: 100%;
    height: 100%;
    min-width: 100vw;
    min-height: 100vh;

    color: $color_font-light;
    font-family: 'Open Sans', Helvetica, sans-serif;

    pointer-events: none;

    * {
        position: relative;
        box-sizing: border-box;
        pointer-events: all;
    }

    button { cursor: pointer; }

    &__window {
        position: absolute;
        top: 20px;
        left: 20px;

        width: 240px;
        height: 360px;
        padding: 3px;

        background: linear-gradient(to bottom, #{$color_bg-dark}, #{mix(#666, $color_bg-dark, 30)});
        border-radius: 4px 4px 0 0;

        &-bar {
            width: calc(100% + 6px);
            margin-top: -1px;

            text-align: right;

            cursor: grab;

            &--grabbed {
                cursor: grabbed;
            }

            button {
                width: 30px;
                margin-right: 8px;

                color: $color_font-medium;
                text-align: center;

                background: none;
                border: none;
                outline: none;
            }
        }
    }

    &__layer {
        &--inactive {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &__tabs {
        background: linear-gradient(to bottom, #{$color_bg-medium}, #{mix(#222, $color_bg-medium, 4)});
        overflow-x: auto;

        button {
            display: inline-block;

            padding: 5px 8px;

            color: $color_font-light;
            font-weight: 600;
            font-size: 10px;

            background: none;
            border: none;
            border-bottom: 1px solid $color_bg-dark;
            border-right: 1px solid $color_bg-dark;

            &.active {
                background: $color_bg-light;
                border-bottom: 0;
            }
        }
    }

    &__panels {
        background: $color_bg-light;
    }

    &__panel {
        display: none;

        height: max-content;
        background: $color_bg-light;

        &--active {
            display: block;
        }
    }

    &__error {
        &--toggle {
            border: 2px solid $color_error;
        }
    }

}
